<!DOCTYPE html>
<html class="page-firstdemo">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <title>Edgepsych Report</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div class="page">

  <!-- Header -->
<div style="width: 100%; display: flex; justify-content: flex-start;  ">
  <img src="/static/imglogopdf.png" alt="Logo" style="width: 209px; height: 73px; margin-bottom: 40px;">
</div>

background-color: #360335
#E5DEE5;

  <!-- Your Feedback -->
  <div style="display: flex; margin-bottom: 40px; color :#112A4D; ">
    <div style="width: 40%; font-weight: bold; color: #1f2d5d; font-size: 16px;">Your Feedback</div>
    <div style="width: 60%;">
      <div style="display: flex; align-items: center; margin-bottom: 8px; background-color: #EFD8DE;padding-right: 12px; ">
        <span style="background-color: #A31C3E; color: white; width: 50px; height: 31px; display: flex; align-items: center; justify-content: center; font-weight: bold; border-radius: 4px; margin-right: 10px;">I</span>
        The Career Navigator Pathways
        <span style="margin-left: auto;">1</span>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 8px; background-color: #E4DDFD;padding-right: 12px; ">
        <span style="background-color: #592BF1; color: white; width: 50px; height: 31px; display: flex; align-items: center; justify-content: center; font-weight: bold; border-radius: 4px; margin-right: 10px;">II</span>
        Interest Profile and Overall Match
        <span style="margin-left: auto;">2</span>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 8px; background-color: #E5DEE5;padding-right: 12px; ">
        <span style="background-color: #360335; color: white; width: 50px; height: 31px; display: flex; align-items: center; justify-content: center; font-weight: bold; border-radius: 4px; margin-right: 10px;">III</span>
        Careers Selection Worksheets
        <span style="margin-left: auto;">4</span>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 8px;background-color: #E2F8F5; padding-right: 12px;">
        <span style="background-color: #0FC8A9; color: white; width: 50px; height: 31px; display: flex; align-items: center; justify-content: center; font-weight: bold; border-radius: 4px; margin-right: 10px;">IV</span>
        Subject Selection Worksheets
        <span style="margin-left: auto;">7</span>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 8px;background-color: #DAECE8; padding-right: 12px;">
        <span style="background-color: #329681; color: white; width: 50px; height: 31px; display: flex; align-items: center; justify-content: center; font-weight: bold; border-radius: 4px; margin-right: 10px;">V</span>
        Aptitude Results
        <span style="margin-left: auto;">10</span>
      </div>
    </div>
  </div>

  <!-- Pink dashed line -->
  <hr style="border: 1px dashed #FFD9E0; margin: 30px 0;">

  <!-- How to Use -->
  <div style="display: flex; margin-bottom: 40px;">
    <div style="width: 40%; font-weight: bold; color: #1f2d5d; font-size: 16px;">How to use your <br> Career <br> Navigator <br> Feedback</div>
    <div style="width: 60%;">
      <div style="display: flex; align-items: center; margin-bottom: 8px;background-color: #E6E0EF; padding-right: 12px;">
        <span style="background-color: #400E86; color: white; width: 50px; height: 31px; display: flex; align-items: center; justify-content: center; font-weight: bold; border-radius: 4px; margin-right: 10px;">VI</span>
        The Mind Map
        <span style="margin-left: auto;">12</span>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 8px;background-color: #E8F0E8; padding-right: 12px;">
        <span style="background-color: #0D610D; color: white; width: 50px; height: 31px; display: flex; align-items: center; justify-content: center; font-weight: bold; border-radius: 4px; margin-right: 10px;">VII</span>
        Career Action Plan
        <span style="margin-left: auto;">15</span>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 8px; background-color: #E6E2DC ;padding-right: 12px; ">
        <span style="background-color: #6C552F; color: white; width: 50px; height: 31px; display: flex; align-items: center; justify-content: center; font-weight: bold; border-radius: 4px; margin-right: 10px;">VIII</span>
        Careers Analysis Forms
        <span style="margin-left: auto;">17</span>
      </div>
    </div>
  </div>

  <!-- Blue dashed line -->
  <hr style="border: 1px dashed #CAE0F8; margin: 30px 0;">

  <!-- Appendices -->
  <div style="display: flex; margin-bottom: 40px;">
    <div style="width: 40%; font-weight: bold; color: #1f2d5d; font-size: 16px;">Appendices</div>
    <div style="width: 60%;">
      <div style="display: flex; align-items: center; margin-bottom: 8px; background-color: #E2EBF3;padding-right: 12px;   " >
        <span style="background-color: #1C62A3; color: white; width: 50px; height: 31px; display: flex; align-items: center; justify-content: center; font-weight: bold; border-radius: 4px; margin-right: 10px;">IX</span>
        School Leaver Program
        <span style="margin-left: auto;">20</span>
      </div>
    </div>
  </div>

  <!-- Footer -->
<div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 60px;">
  <div style="text-align: right; margin-right: 10px;">
    <strong style="color: #1f2d5d;"><span id="student-name"></span></strong><br>
    <span style="color: #7f8c8d;">Admission Consulting</span>
  </div>
  <div style="width: 26px; height: 42px; background-color: #FC234E;"></div>
</div>


</div>

</body>
</html>
